body {
    background-color: rgb(29, 188, 29);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(0, 57, 4);
    padding-top: 60px;
}

.field {
    cursor: url("../images/hammer.png");
    margin: auto;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hole {
    width: 100px;
    height: 100px;
    background-image: url("../images/hole.png");
    background-size: contain;
}

.score {
    text-align: center;
    font-size: 20px;
    letter-spacing: -5px;
    margin-bottom: 40px;
}

.active-hole {
    background-image: url("../images/mole.png");
    background-size: contain;
}


.start-sign, .win-sign, .lose-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
    width: 500px;
    background-color: rgb(255, 227, 127);
    padding: 50px;
    border-top: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(149, 126, 85);
    border-bottom: 5px solid rgb(149, 126, 85)
}


.rules {
    font-size: 20px;
    letter-spacing: -5px;
    text-align: center;
}

.game-name {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}

.start-button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    border-top: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(149, 126, 85);
    border-bottom: 5px solid rgb(149, 126, 85);

    padding: 10px 30px;
    text-align: center;
    background-color: rgb(255, 227, 127);
}

.start-button:hover {
    border-bottom: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(149, 126, 85);
    border-top: 5px solid rgb(149, 126, 85);
    background-color: rgb(217, 191, 99);
}

.hidden {
    display: none;
}

.number {
    letter-spacing: 0;
}