body {
    cursor: url("../images/hammer.png");
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(29, 188, 29);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(0, 57, 4);
    padding-top: 60px;
    text-align: center;
}

.field {
    margin: auto;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hole {
    width: 100px;
    height: 100px;
    background-image: url("../images/hole.png");
    background-size: contain;
}

.score {
    display: inline-block;
    
    margin: auto;
    background-color: rgb(255, 227, 127);
    padding: 20px 50px;
    border-top: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(149, 126, 85);
    border-bottom: 5px solid rgb(149, 126, 85);
    text-align: center;
    font-size: 20px;
    letter-spacing: -5px;
    margin-bottom: 40px;
}

.active-hole {
    
    background-image: url("../images/mole.png");
    background-size: contain;
}

.start-sign, .win-sign, .lose-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
    width: 500px;
    background-color: rgb(255, 227, 127);
    padding: 50px;
    border-top: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(149, 126, 85);
    border-bottom: 5px solid rgb(149, 126, 85)
}

.rules {
    font-size: 20px;
    letter-spacing: -5px;
    text-align: center;
}

.game-name {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}

.start-button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: inherit;

    border-top: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(149, 126, 85);
    border-bottom: 5px solid rgb(149, 126, 85);

    padding: 10px 30px;
    text-align: center;
    background-color: rgb(255, 227, 127);
}

.start-button:hover {
    color: inherit;
    border-bottom: 5px solid rgb(255, 245, 210);
    border-left: 5px solid rgb(255, 245, 210);
    border-right: 5px solid rgb(149, 126, 85);
    border-top: 5px solid rgb(149, 126, 85);
    background-color: rgb(217, 191, 99);
}

.hidden {
    display: none;
}

.number {
    letter-spacing: 0;
}

@media (max-width: 600px) {
    .field {
        width: 95%;
        gap: 3%;
    }

    .hole {
        width: 60px;
        height: 60px;
    }

    .score {
        font-size: 15px;
        letter-spacing: -3px;
        padding: 10px 40px;
        margin-bottom: 20px;
    }

    .start-sign, .win-sign, .lose-sign {
        box-sizing: border-box;
        gap: 20px;
        width: 95%;
        padding: 20px;
    }

    .rules {
        font-size: 15px;
        letter-spacing: -3px;
    }

    .game-name {
        font-size: 20px;
    }

    .start-button {
        font-size: 15px;
        padding: 5px 20px;
    }
}